@media screen and (max-width: 600px) and (min-width: 0px) {
  .taskcont {
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: 0px 9.600000381469727px 21.600000381469727px 0px #00000021;
  }
}

@media screen and (max-width: 860px) and (min-width: 601px) {
  .taskcont {
    width: 60%;
    height: 720px;
    background: white;
    box-shadow: 0px 9.600000381469727px 21.600000381469727px 0px #00000021;
  }
}

@media screen and (min-width: 860px) {
  .taskcont {
    width: 25%;
    height: 720px;
    background: white;
    box-shadow: 0px 9.600000381469727px 21.600000381469727px 0px #00000021;
  }
}

.header_cont {
  position: relative;
  width: 100%;
  height: 80px;
  background: #f9f9fa;
}
.header_content {
  position: absolute;
  color: #000000;
  left: 16px;
  top: 16px;
  font-size: 20px;
  font-weight: 400;
}
